banco_dados==0.1.0
certifi==2024.8.30
charset-normalizer==3.4.0
data==0.4
decorator==5.1.1
et-xmlfile==1.1.0
funcsigs==1.0.2
idna==3.10
mysql-connector-python==9.0.0
numpy==2.1.2
openpyxl==3.1.5
pandas==2.2.3
pyTelegramBotAPI==4.23.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
requests==2.32.3
six==1.16.0
tzdata==2024.2
urllib3==2.2.3
flask>=2.0.0
pytelegrambotapi>=4.0.0
python-dotenv
